<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dragon-animation2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,274},{126,65}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,4},{126,65}}</string>
			<key>sourceSize</key>
			<string>{140,69}</string>
		</dict>
		<key>dragon-animation2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,274},{126,65}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,4},{126,65}}</string>
			<key>sourceSize</key>
			<string>{140,69}</string>
		</dict>
		<key>dragon-animation2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,138},{126,67}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,2},{126,67}}</string>
			<key>sourceSize</key>
			<string>{140,69}</string>
		</dict>
		<key>dragon-animation2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,206},{126,67}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,2},{126,67}}</string>
			<key>sourceSize</key>
			<string>{140,69}</string>
		</dict>
		<key>dragon-animation2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{126,68}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,1},{126,68}}</string>
			<key>sourceSize</key>
			<string>{140,69}</string>
		</dict>
		<key>dragon-animation2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,69},{126,68}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,1},{126,68}}</string>
			<key>sourceSize</key>
			<string>{140,69}</string>
		</dict>
		<key>dragon-animation2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,206},{126,67}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,2},{126,67}}</string>
			<key>sourceSize</key>
			<string>{140,69}</string>
		</dict>
		<key>dragon-animation2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,206},{126,67}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,2},{126,67}}</string>
			<key>sourceSize</key>
			<string>{140,69}</string>
		</dict>
		<key>dragon-animation2_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,340},{126,65}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,4},{126,65}}</string>
			<key>sourceSize</key>
			<string>{140,69}</string>
		</dict>
		<key>dragon-animation2_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,274},{126,65}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,4},{126,65}}</string>
			<key>sourceSize</key>
			<string>{140,69}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dragonenemy2.png</string>
		<key>size</key>
		<string>{128,512}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>dragonenemy2.png</string>
	</dict>
</dict>
</plist>
