<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dragon-animation_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,592},{147,82}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{147,82}}</string>
			<key>sourceSize</key>
			<string>{147,87}</string>
		</dict>
		<key>dragon-animation_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,592},{147,82}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{147,82}}</string>
			<key>sourceSize</key>
			<string>{147,87}</string>
		</dict>
		<key>dragon-animation_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,296},{147,85}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{147,85}}</string>
			<key>sourceSize</key>
			<string>{147,87}</string>
		</dict>
		<key>dragon-animation_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,444},{147,85}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{147,85}}</string>
			<key>sourceSize</key>
			<string>{147,87}</string>
		</dict>
		<key>dragon-animation_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{147,86}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{147,86}}</string>
			<key>sourceSize</key>
			<string>{147,87}</string>
		</dict>
		<key>dragon-animation_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,148},{147,86}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{147,86}}</string>
			<key>sourceSize</key>
			<string>{147,87}</string>
		</dict>
		<key>dragon-animation_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,444},{147,85}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{147,85}}</string>
			<key>sourceSize</key>
			<string>{147,87}</string>
		</dict>
		<key>dragon-animation_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,444},{147,85}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{147,85}}</string>
			<key>sourceSize</key>
			<string>{147,87}</string>
		</dict>
		<key>dragon-animation_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,740},{147,82}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{147,82}}</string>
			<key>sourceSize</key>
			<string>{147,87}</string>
		</dict>
		<key>dragon-animation_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,592},{147,82}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{147,82}}</string>
			<key>sourceSize</key>
			<string>{147,87}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dragonenemy.png</string>
		<key>size</key>
		<string>{128,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>dragonenemy.png</string>
	</dict>
</dict>
</plist>
