<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>skeleton-animation_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,194},{95,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,116}}</string>
			<key>sourceSize</key>
			<string>{95,116}</string>
		</dict>
		<key>skeleton-animation_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,482},{96,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,113}}</string>
			<key>sourceSize</key>
			<string>{96,113}</string>
		</dict>
		<key>skeleton-animation_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,290},{95,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,116}}</string>
			<key>sourceSize</key>
			<string>{95,116}</string>
		</dict>
		<key>skeleton-animation_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,97},{96,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,121}}</string>
			<key>sourceSize</key>
			<string>{96,121}</string>
		</dict>
		<key>skeleton-animation_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{96,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,124}}</string>
			<key>sourceSize</key>
			<string>{96,124}</string>
		</dict>
		<key>skeleton-animation_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,579},{95,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,130}}</string>
			<key>sourceSize</key>
			<string>{95,130}</string>
		</dict>
		<key>skeleton-animation_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{96,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,124}}</string>
			<key>sourceSize</key>
			<string>{96,124}</string>
		</dict>
		<key>skeleton-animation_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,386},{95,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,116}}</string>
			<key>sourceSize</key>
			<string>{95,116}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gladiatorJump.png</string>
		<key>size</key>
		<string>{128,1024}</string>
		<key>smartupdate</key>
		<string>{None}</string>
		<key>textureFileName</key>
		<string>gladiatorJump.png</string>
	</dict>
</dict>
</plist>
